<div class="container">
    <div class="m-1 p-3 b_menu_title b-blue text-center">
        섬기는 사람들
    </div>

    <h2 class="m-1 p-3 b-black">목사</h2>
    <mat-grid-list cols="2" rowHeight="4:1">
        <mat-grid-tile *ngFor="let pastor of pastors" class="b-red">
            <img src={{pastor.img}} style="width:90px; height: 100px;" />
            <ul>
                <li>
                    <span>이름 : {{pastor.name}}</span>
                </li>
                <li>
                    <span>직책 : {{pastor.position}}</span>
                </li>
            </ul>
        </mat-grid-tile>
    </mat-grid-list>
    <hr>

    <h2 class="m-1 p-3 b-black">전도사</h2>
    <mat-grid-list cols="2" rowHeight="4:1">
        <mat-grid-tile *ngFor="let junior of juniorPastors" class="b-red">
            <img src={{junior.img}} style="width:90px; height: 100px;" />
            <ul>
                <li>
                    <span>이름 : {{junior.name}}</span>
                </li>
                <li>
                    <span>직책 : {{junior.position}}</span>
                </li>
            </ul>
        </mat-grid-tile>
    </mat-grid-list>
    <hr>

    <h2 class="m-1 p-3 b-black">시무장로</h2>
    <mat-grid-list cols="2" rowHeight="4:1">
        <mat-grid-tile *ngFor="let elder of elders" class="b-red">
            <img src={{elder.img}} style="width:90px; height: 100px;" />
            <ul>
                <li>
                    <span>이름 : {{elder.name}}</span>
                </li>
                <li>
                    <span>직책 : {{elder.position}}</span>
                </li>
            </ul>
        </mat-grid-tile>
    </mat-grid-list>
    <hr>

    <h2 class="m-1 p-3 b-black">명예장로</h2>
    <mat-grid-list cols="2" rowHeight="4:1">
        <mat-grid-tile *ngFor="let honor of honoraryElders" class="b-red">
            <img src={{honor.img}} style="width:90px; height: 100px;" />
            <ul>
                <li>
                    <span>이름 : {{honor.name}}</span>
                </li>
                <li>
                    <span>직책 : {{honor.position}}</span>
                </li>
            </ul>
        </mat-grid-tile>
    </mat-grid-list>
</div>