<div class="container">
    <div class="text-center">
        섬기는사람들
    </div>
    <div>
        <p>목사</p>
        <div>
            담임목사
        </div>
        <div>
            명예목사
        </div>
        <div>
            부목사
        </div>
    </div>
    <hr>
    <div>
        <p>전도사</p>
        <div>
            신명철 전도사
        </div>
        <div>
            박한웅 전도사
        </div>
    </div>
    <hr>
    <div>
        <p>시무장로</p>
        <div>
            정영철 장로
        </div>
        <div>
            고재용 장로
        </div>
        <div>
            김창민 장로
        </div>
        <div>
            정규서 장로
        </div>
        <div class="">
            김종섭 장로
        </div>
        <div>
            이한봉 장로
        </div>
        <div class="">
            박동진 장로
        </div>
    </div>
    <hr>
    <div>
        <p>명예장로</p>
        <div class="">
            박종진 장로
        </div>
        <div class="">
            박창대 장로
        </div>
        <div class="">
            이광일 장로
        </div>
        <div class="">
            엄기식 장로
        </div>
    </div>
</div>