<p>--- footer works! ---</p>

<div class="footerContainer debug-container">

    <ul class="list-inline">
        <li class="list-inline-item">[개인정보취급방침]</li>
        <li class="list-inline-item">[서비스이용약관]</li>
        <li class="list-inline-item" (click)="openEmailRejectionPopup()">[이메일주소 무단수집거부]</li>
    </ul>

    <div style="height:20px; border-top:1px solid #454545;"></div>

    <div class="copyright_content_pos">
        <div class="text-right">
            <span>copyright &copy 새샘교회 All Rights Reserved.</span>
        </div>
        <div>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <span class='text-bold'>교회명 : </span>
                    <span class='copy_bottom_content'>새샘교회</span>
                </li>
                <li class="list-inline-item">
                    <span class='copy_bottom_title'>전화 : </span>
                    <span class='copy_bottom_content'>02-383-3355</span>
                </li>
                <li class="list-inline-item">
                    <span class='copy_bottom_title'>팩스 : </span>
                    <span class='copy_bottom_content'>02-382-1871</span>
                </li>
            </ul>
        </div>
        <div>
            <span class='copy_bottom_title'>주소 : </span>
            <span class='copy_bottom_content'>서울시 은평구 진관동 진관3로 73-15</span>
        </div>
    </div>

</div>
<!--end of the footer div-->