<div class="container debug-container">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        이메일 무단수집거부
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">이메일 무단수집 거부</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    본 웹사이트에 게시된 이메일 주소가 전자우편 수집 프로그램이나
                    그 밖의 기술적 장치를 이용하여 무단으로 수집되는 것을 거부하며,
                    이를 위반시 정보통신망법에 의해 형사처벌됨을 유념하시기 바랍니다.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
        </div>
    </div>


    <div style="height:20px; border-top:1px solid #454545;"></div>

    <div class="copyright_content_pos">
        <div class="text-right">
            <span>copyright &copy 새샘교회 All Rights Reserved.</span>
        </div>
        <div>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <span class='text-bold'>교회명 : </span>
                    <span class='copy_bottom_content'>새샘교회</span>
                </li>
                <li class="list-inline-item">
                    <span class='copy_bottom_title'>전화 : </span>
                    <span class='copy_bottom_content'>02-383-3355</span>
                </li>
                <li class="list-inline-item">
                    <span class='copy_bottom_title'>팩스 : </span>
                    <span class='copy_bottom_content'>02-382-1871</span>
                </li>
            </ul>
        </div>
        <div>
            <span class='copy_bottom_title'>주소 : </span>
            <span class='copy_bottom_content'>서울시 은평구 진관동 진관3로 73-15</span>
        </div>
    </div>

</div>
<!--end of the footer div-->