<div class="container debug-container text-center">
    <h2 class="box-slide-title">2021 표어</h2>
    <h3 class="box-slide-sub-title">그리스도의 향기를 나타내자</h3>
    <p class="box-slide-description">
        "우리는 구원 받은 자들에게나, 망하는 자들에게나 하나님 앞에서 그리스도의 향기니" <br> 새샘교회
    </p>
    <p>
        <a mat-flat-button href="https://www.youtube.com/channel/UCe7ba5RyLrasP3yqN2LYXfg">Youtube Link</a>
    </p>
</div>

<div>
    <p></p>
</div>

<div class="container debug-container">
    <p class="text-center">
        예배안내
    </p>
    <div class="text-center" [ngStyle]="{backgroundImage:'url(/assets/img/praying_pic.jpg)'}" style="height: 400px;">
    </div>
</div>

<div>
    <p></p>
</div>

<div class="container debug-container">
    <p class="text-center">
        교회위치
    </p>
    <div class="text-center" [ngStyle]="{backgroundImage:'url(/assets/img/saesaemch_location.PNG)'}" style="height: 700px;">
    </div>
</div>