<div class="container">
    <div class="text-center">
        교회비전
    </div>
    <div>
        새샘교회 사명선언문
        1. 성령충만함으로 모든 만민을 제자 삼고, 하나님과 이웃을 사랑하며 섬긴다.<br />
        
        2. 교회 표어 : "하나님을 경험하라"<br/>
        말씀 : 여호와의 선하심을 맛보아 알지어다(시편 34:8)<br />
        
        3. 교회로고
        *빨강(보혈의 샘) : 예수 그리스도(요한복음 14장 6절)
        - 교회의 주인되시는 예수 그리스도를 나타냅니다. 
        *흰색(기도의 샘) : 기도(마태복음 7장 7절)
        - 기도생활을 통해 성결한 삶을 살아갑니다. 
        *파랑(말씀의 생) : 말씀(디모데후서 3장 16절 ~ 17절)ㅉ
        - 말씀을 통해 신앙의 삶에 영적생명을 유지합니다.
        *녹색(사랑의 샘) : 교제(고린도전서 13장 13절)
        - 성도들간의 교제함으로 균형과 조화를 이루는 안정되 교회를 만들어 갑니다.
        *노랑(부흥의 샘) : 전도 (사도행전 1장 8절)
        - 복음과 사랑을 널리 전파하여 영혼 얻고 제자 삼는 삶을 살아갑니다.

        4. 목회 비전 : 그리스도의 제자로 헌신하며, 행복한 가정, 행복한 교회를 이룬다.
        @ 예배와 중보의 사역
        - 기도회
        (중보기도사역 / 신년 특새 기도회 / 사순절기도회 / 여름사역을 위한 기도회 / BNT 기도회 / 부흥회 위한 특새기도회 / 기도원 집회 참석)
        - 예배
        (각종 절기예배 - 부활절, 가정주일, 추수감사절, 성탄절/온세대예배)

        @ 복음 증거의 사역
        B.N.T 전도 / 목요전도 / 바나바사역 / 지역사회봉사 / 어르신 식사대접 / 국내외 선교

        @ 사랑의 사역
        전교인 야유회 / 전교인 수련회 / 부부 수련회 / 수련회(남,녀) / 구역,기관찬양대회 / 헌신자 위로회 - 구역장 / 강사, 기관장, 전도대원, 주방, 교사등

        @ 가르침과 말씀 선포의 사역
        성경통독과 Q.T / 하나님을 경험하는 삶 / 교회에서 하나님을 경험하는 삶 / 최선의 삶 / 은사발견세미나
    </div>
</div>