<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">새샘교회</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="justify-content-center collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auo mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="churchInfo" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            교회안내
          </a>
          <ul class="dropdown-menu" aria-labelledby="churchInfo">
            <li><a class="dropdown-item" routerLink="/pastorIntro" routerLinkActive="active">담임목사소개</a></li>
            <li><a class="dropdown-item" routerLink="/vision" routerLinkActive="active">교회비전</a></li>
            <li><a class="dropdown-item" routerLink="/churchWorkers" routerLinkActive="active">사역자안내</a></li>
            <li><a class="dropdown-item" routerLink="/churchHistory" routerLinkActive="active">교회연혁</a></li>
            <li><a class="dropdown-item" routerLink="/location" routerLinkActive="active">찾아오시는 길</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="worship" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            예배
          </a>
          <ul class="dropdown-menu" aria-labelledby="worship">
            <li><a class="dropdown-item" routerLink="/serviceInfo" routerLinkActive="active">예배안내</a></li>
            <li><a class="dropdown-item" routerLink="/serviceHistory" routerLinkActive="active">예배기록</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="gallery" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            새샘갤러리
          </a>
          <ul class="dropdown-menu" aria-labelledby="gallery">
            <li><a class="dropdown-item" routerLink="/newFamily" routerLinkActive="active">새가족</a></li>
            <li><a class="dropdown-item" routerLink="/churchEvent" routerLinkActive="active">교회행사</a></li>
            <li><a class="dropdown-item" routerLink="/eduMinistry" routerLinkActive="active">교육부</a></li>
            <li><a class="dropdown-item" routerLink="/missionMinistry" routerLinkActive="active">선교부</a></li>
            <li><a class="dropdown-item" routerLink="/clubs" routerLinkActive="active">동아리</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="chSchool" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            교회학교
          </a>
          <ul class="dropdown-menu" aria-labelledby="chSchool">
            <li><a class="dropdown-item" routerLink="/kinders" routerLinkActive="active">유치부</a></li>
            <li><a class="dropdown-item" routerLink="/elements" routerLinkActive="active">초등부</a></li>
            <li><a class="dropdown-item" routerLink="/youths" routerLinkActive="active">중고등부</a></li>
            <li><a class="dropdown-item" routerLink="/singles" routerLinkActive="active">청년부</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="meetings" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            교제
          </a>
          <ul class="dropdown-menu" aria-labelledby="meetings">
            <li><a class="dropdown-item" routerLink="/menMinistry" routerLinkActive="active">남전도회</a></li>
            <li><a class="dropdown-item" routerLink="/womenMinistry" routerLinkActive="active">여전도회</a></li>
            <li><a class="dropdown-item" routerLink="/snDeaconessMinistry" routerLinkActive="active">권사회</a></li>
            <li><a class="dropdown-item" routerLink="/hosannaChoir" routerLinkActive="active">호산나찬양대</a></li>
            <li><a class="dropdown-item" routerLink="/rodemChoir" routerLinkActive="active">로뎀찬양단</a></li>
            <li><a class="dropdown-item" routerLink="/saesamOrchestra" routerLinkActive="active">새샘오케스트라</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>