<div class="container">
    <div class="text-center">
        예배안내
    </div>

    <div>
        요한복음 4장 23절~24절 <br />
        아버지께 참으로 예배하는 자들은 신령과 진정으로 예배할 때가 오나니
        곧 이때라 아버지께서는 이렇게 자기에게 예배하는 자들을 찾으시느니라
        하나님은 영이시니 예배하는 자가 신령과 진정으로 예배할지니라
    </div>

    <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 text-center">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>구분</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="time">
            <td mat-header-cell *matHeaderCellDef>예배시간</td>
            <td mat-cell *matCellDef="let element">{{ element.time }}</td>
        </ng-container>

        <ng-container matColumnDef="place">
            <td mat-header-cell *matHeaderCellDef>장소</td>
            <td mat-cell *matCellDef="let element">{{ element.place }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> -->

    <hr>

    <table class="table">
        <thead class="table-light">
          <tr>
              <td>
                  구분
              </td>
              <td>
                  예배시간
              </td>
              <td>
                  장소
              </td>
          </tr>
        </thead>
        <tbody>
          ...
        </tbody>
      </table>
</div>