<div class="container">
    <div class="m-1 p-3 b_menu_title b-blue text-center">
        예배안내
    </div>

    <div>
        요한복음 4장 23절~24절 <br />
        아버지께 참으로 예배하는 자들은 신령과 진정으로 예배할 때가 오나니
        곧 이때라 아버지께서는 이렇게 자기에게 예배하는 자들을 찾으시느니라
        하나님은 영이시니 예배하는 자가 신령과 진정으로 예배할지니라
    </div>

    <div class="m-1 p-2 h4 b-red">
        주 예배
    </div>
    <table class="table text-center">
        <thead class="table-light">
            <tr>
                <th>
                    구분
                </th>
                <th>
                    예배시간
                </th>
                <th>
                    장소
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of mServiceInfo">
                <td>{{data.name}}</td>
                <td>{{data.time}}</td>
                <td>{{data.place}}</td>
            </tr>
        </tbody>
    </table>

    <div class="m-1 p-2 h4 b-red">
        교육기관 예배
    </div>
    <table class="table text-center">
        <thead class="table-light">
            <tr>
                <td>
                    구분
                </td>
                <td>
                    예배시간
                </td>
                <td>
                    장소
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of sServiceInfo">
                <td>{{data.name}}</td>
                <td>{{data.time}}</td>
                <td>{{data.place}}</td>
            </tr>
        </tbody>
    </table>
</div>