<p><<--- pic-banner works! --->></p>

<div class="picBannerContainer debug-container">
    <!--
    <button type="button" class="carousel-control left slick-arrow" aria-label="carousel-control"><em class="fas fa-chevron-left">left button</em></button>
    -->
    
        <div class="slick-track">
            <!-- item 1 -->
            <div class="banner-carousel-item slick-slide" data-slick-index="0" aria-hidden="true" tabindex="0">
                <div class="container">
                    <div class="box-slider-content">
                        <div class="box-slider-text">
                            <h2 class="box-slide-title">2021 표어</h2>
                            <h3 class="box-slide-sub-title">그리스도의 향기를 나타내자</h3>
                            <p class="box-slide-description">
                                "우리는 구원 받은 자들에게나, 망하는 자들에게나 하나님 앞에서 그리스도의 향기니" <br> 새샘교회
                            </p>
                            <p>
                                <a href="https://www.youtube.com/channel/UCe7ba5RyLrasP3yqN2LYXfg" class="slider btn btn-primary" tabindex="0">Youtube Link</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- item 2 -->
            <!--
            <div class="banner-carousel-item slick-slide slick-current slick-active" data-slick-index="1" aria-hidden="false" tabindex="-1">
            <div class="slider-content text-left">
                <div class="container">
                    <div class="box-slider-content">
                        <div class="box-slider-text">
                        <h2 class="box-slide-title">When Services Matters</h2>
                        <h3 class="box-slide-sub-title">Your Choice is Simple</h3>
                        <p class="box-slide-description">
                            You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like.
                        </p>
                        <p>
                            <a href="#" class="slider btn btn-primary" aria-label="about-us" tabindex="-1">Know Us</a>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
            -->
        </div>
    <!--
    <button type="button" class="carousel-control right slick-arrow" aria-label="carousel-control"><em class="fas fa-chevron-right">right button</em></button>
    -->
</div>