<div class="container">
    <div>
        교회연혁
    </div>
    <p>1980's</p>
    1980.07.06
    은평구 진관내동 289-15에서 정윤영 장로 외 약 30명이 기도처로 모이기 시작

    1980.09.07
    박우희전도사(현 명예목사) 부임

    1981.11.01
    은평구 구파발동 107-1로 이전(대지 391평, 건물 120평)

    1984.10.14
    박재진, 원호식, 이은구 장로 장립

    1986.02.28
    박양선씨로부터 구파발동 107-11 대진 56평 기증받음

    <p>1990's</p>
    1991.10.13
    허종, 정만영, 송홍, 송종호 장로 장립

    1992.04.25
    은평구 구파발동 107-9 매입(대지 21평, 건물 10평)

    1992.11.24
    은평구 구파발동 107-8 매입(대지 32평, 건물 9평)

    1993.05.30
    박우희 목사 위임, 전용숙 장로 취임, 박종진 장로 장립

    1995.05.07
    본당 540평, 사택 60평 기공

    1996.07.07
    준공입당예배 드림(대지 500평, 신축 600평)

    1996.12.03
    동북유치원 개원

    <p>2000's</p>
    2000.07.02
    제2성전 봉헌

    2002.10.13
    박우희목사 정년 은퇴

    2003.12.15
    제2대 유석환 담임목사 부임

    2005.04.10
    이광일, 박창대 장로 장립

    2006.03
    은평뉴타운 개발로 인해 동북 유치원 휴원

    2006.08.21
    은평뉴타운 개발로 교회가 수용되어, 임시처소로 고양시 덕양구 성사동 415-6번지 효동상가를 매입하여 이전

    2008.02.28
    은평구 진관동 398-4번지 유치원 부지 200평을 SH공사로부터 매입

    2008.05.04
    은평구 진관동 398-4번지에 동북유치원 착공(450평)

    2008.12.07
    동북유치원 개원

    2008.12.21
    동북유치원 3층 강당을 예배 처소로 하여 은평뉴타운으로 성전이전

    2009.04.29
    진관동 24번지 종교용지 2호 990.7m²을 SH공사로부터 매입

    2009.07.05
    엄기식, 정영철, 고재룡, 김창민 장로 장립

    2009.11.15
    제3대 조종건 담임목사 부임

    <p>2010's</p>
    2010.03.27
    은평뉴타운 3지구 내에 대지 300평에 연건평 900평의 성전건축 기공

    2010.12.19
    동북교회에서 새샘교회로 개명

    2011.03.29
    건축 준공. 연건평(지하1층 지상5층) 성전을 완공

    2011.05.15
    인당 및 권사취임, 명예권사 추대 안수집사 임직예식
    (명예) 김사홍, 조순임, 허필순
    (시무) 김융의, 박경자, 모연행, 원상숙, 유경애, 남금자, 노귀임, 송복연, 김정란, 정산선, 남은숙, 정진옥, 김정순
    (안수) 황학순, 김종섭, 이한봉, 정규서, 이응선, 이선돈, 김운채, 이상혁, 이동진

    2014.07.06
    장로(정규서) 취임 및 34주년 감사예배
</div>