/* You can add global styles to this file, and also import other style files */
.center-block{
    float : none;
    margin : auto;
}

.debug-container{
    border : black 2px dashed;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* custom style */
.b_menu_title {
    font-size: x-large;
    font-weight: bold;
    color: blue;
}

.b-red {
    border-color:red;
    border-width: 1px;
    border-style: dashed;
}

.b-black {
    border-color:black;
    border-width: 1px;
    border-style: dashed;
}

.b-blue {
    border-color:blue;
    border-width: 1px;
    border-style: dashed;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
