<div class="container">
    <div class="m-1 p-3 b_menu_title b-blue text-center">
        새샘동아리 사진첩
    </div>

    <mat-tab-group animationDuration="0ms">
        <mat-tab label="등산부">
            <p>
                page 1
            </p>
        </mat-tab>
        <mat-tab label="풋살부">
            <p>
                page 2
            </p>
        </mat-tab>
        <mat-tab label="탁구부">
            <p>
                page 3
            </p>
        </mat-tab>
        <mat-tab label="족구부">
            <p>
                page 4
            </p>
        </mat-tab>
        <mat-tab label="배드민턴부">
            <p>
                page 5
            </p>
        </mat-tab>
    </mat-tab-group>
</div>