<div class="container">
    <div class="m-1 p-3 b_menu_title b-blue text-center">
        담임목사소개
    </div>
    <div class="b-black d-flex">
        <img class="w-50 h-50 b-red m-1 p-1" loading="lazy" src="/assets/img/seniorPastor.PNG" alt="saesaemch_logo" />

        <div class="m-1 p-1 b-red">
            <h2>"행복한 가정, 행복한 교회"</h2>
            새샘교회는 한 사람, 한 영혼을 소중하게 여깁니다. <br />
            탁월한 설교자인 조종건 목사는 <span>"행복한 가정, 행복한 교회"</span>를 이루는 꿈을 갖고 성도들을 푸른 초장
            맑은 시냇물가로 인도하는 이 시대의 영적 리더입니다.
            새샘교회에 오시면 살아 역사하시는 하나님의 은혜와 축복 그리고 기적을 체험하실 것입니다.
            <div class="b-blue text-end">
                담임목사 조종건
            </div>
        </div>

        

    </div>
</div>